<%= form_for(@move) do |f| %>
  <% if @move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@move.errors.count, "error") %> prohibited this move from being saved:</h2>

      <ul>
      <% @move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :direction %><br>
    <%= f.text_field :direction %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.select :room_id, options_from_collection_for_select(Room.all, "id", "name") %>
  </div>
  <div class="field">
    <%= f.label :destination_id %><br>
    <%= f.select :destination_id, options_from_collection_for_select(Room.all, "id", "name")%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
